{{ if eq .osid "linux-ubuntu" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

# This script adds the apt repository and signing key to be able to install
# vscode through apt install

source "{{ .chezmoi.workingTree }}/scripts/utils.sh"

EXECUTABLE="code"

if command -v $EXECUTABLE &> /dev/null
then
    log_blue "$EXECUTABLE is already installed, skipping adding the apt repository"
    exit
fi

log_blue "Adding apt repository for $EXECUTABLE"

wget -qO- https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > packages.microsoft.gpg
{{ $sudo }}install -D -o root -g root -m 644 packages.microsoft.gpg /etc/apt/keyrings/packages.microsoft.gpg
{{ $sudo }}sh -c 'echo "deb [arch=amd64,arm64,armhf signed-by=/etc/apt/keyrings/packages.microsoft.gpg] https://packages.microsoft.com/repos/code stable main" > /etc/apt/sources.list.d/vscode.list'
rm -f packages.microsoft.gpg

{{ end -}}