[user]
	name = {{ .user.name }}
	email = {{ .user.personal_email }}

[init]
	defaultBranch = main

[alias]
	lg = log --all --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'

{{ if .device.work_device }}
[includeIf "gitdir:~/work/"]
	path = .gitconfig-work
{{ end }}