{{- if eq .device.osid "linux-ubuntu" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

# Exit if running inside a Distrobox container
if [ -n "${CONTAINER_ID:-}" ]; then
  exit 0
fi

# This script sets the default shell to use zsh

source "{{ .chezmoi.workingTree }}/scripts/utils.sh"

log_blue "Changing default shell to ZSH"
{{ $sudo }}chsh -s $(which zsh)

{{ end -}}
