{{- if eq .device.osid "linux-ubuntu" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

# This script sets the default terminal to use alacritty

# Exit if running inside a Distrobox container
if [ -n "${CONTAINER_ID:-}" ]; then
  exit 0
fi

source "{{ .chezmoi.workingTree }}/scripts/utils.sh"

log_blue "Setting Alacritty as default terminal"

{{ $sudo }}update-alternatives --install /usr/bin/x-terminal-emulator x-terminal-emulator /usr/bin/alacritty 50

{{ end -}}
